@{
    ViewBag.Title = "FinalizarCompra";
}
<body style="background-color: #42413D;">
<div>
    <img src="~/fotos/Gracias.png" alt="...">
</div>
</body>
<style>
    div{
        position:center;
        width:100%;
        height:100%;
    }
</style>
